:80, :443 {
    tls internal

    handle /cartociudad* {
        reverse_proxy cartociudad-api:8000
    }

    handle /screenshots* {
        reverse_proxy minio:9000
    }

    reverse_proxy api-gateway:8080
}
