[Desktop Entry]
Type=Application
Name=Xaloc Afirma Handler
Exec=/usr/local/bin/afirma-handler.sh %u
Terminal=false
MimeType=x-scheme-handler/afirma;x-scheme-handler/xalocafirma;
NoDisplay=true
